@page
@model ProvidersBase.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find product by company INN:
            <input type="text" name="SearchByINN" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> 
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.ProviderSort" />
                @Html.DisplayNameFor(model => model.ProviderProducts[0].Provider)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.TitleSort" />
                @Html.DisplayNameFor(model => model.ProviderProducts[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderProducts[0].Description)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.PriceSort" />
                @Html.DisplayNameFor(model => model.ProviderProducts[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderProducts[0].InPacking)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProviderProducts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.CompanyTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InPacking)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
